@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  margin: 0;

  --Soft-blue: #8bacda;
  --Cyan: #00fff7;
  --white: #ffffff;
  --BrightBlueColor: #3829e0;
  --main-BG: #0d192b;
  --card-BG: #14253d;
  --line: #2f415b;
  --main-radius: .25rem;
  --main-transition: .25s;
  --logo-animation: 1s;
  --main-padding: 2rem;


}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

.new {
  position: relative;
}

.new:before {
  content: "New";
  color: var(--Soft-blue);
  font-weight: bold;
  padding: .2rem .5rem;
  border-radius: var(--main-radius, .25rem);
  background-color: var(--card-BG);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.butn {
  padding: .5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--Soft-blue, #8bacda);
  color: var(--main-BG, #0d192b);
  border: none;
  border-radius: var(--main-radius, .25rem);
  cursor: pointer;
  width: fit-content;
  
  transition: var(--main-transition, .25s);
}
.butn:hover {
  color: var(--Cyan, #00fff7);
  background-color: var(--card-BG);
}

.online {
  position: relative;
}
.online::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #1ec568;
  border-radius: 50%;
  
  position: absolute;
  right: 0rem; 
  bottom: 0rem;
  z-index: 99;
}

section {
  padding: 2rem 0;
}

.container {
  width: 90%;
  padding: var(--main-padding) 0;
  margin: 0 auto;
}

.title {
  margin: 4rem auto;
  width: fit-content;
}

.title h2 {
  text-align: center;
  color: var(--Soft-blue, #8bacda);
  font-weight: bold;
  font-size: clamp(1rem, 3vw, 4rem);
  letter-spacing: 1rem;
  text-transform: capitalize;
  width: fit-content;
  position: relative;

}

.title h2::after,
.title h2::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--Cyan);
  border-radius: 50%;
  position: absolute;
  bottom: .5rem;
  transition: .5s;
}

.title h2::after {
  right: -1rem;
}

.title h2::before {
  left: -2rem;
}

.title h2:hover::after,
.title h2:hover::before {
  border-radius: 0;
}

.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
}

.text .image img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.text__main {
  color: var(--Soft-blue, #8bacda);
}

.text__main :is(h2, h1) {
  font-size: clamp(2rem, 3.5vw, 3rem);
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.text__main p {
  font-size: 1.25rem;
  line-height: 1.6;
  padding-bottom: 2rem;
}

::selection {
  color: var(--card-BG, #14253d);
  background: var(--Soft-blue, #8bacda);
}
:is(input, textarea)::selection {
  background-color: var(--card-BG, #14253d);
  color: var(--Soft-blue, #8bacda);
}



html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--main-BG, #0d192b);
}


/* Section Header */

header {
  background-color: var(--card-BG, #14253d);
  color: var(--Soft-blue, #8bacda);
  width: 100%;
  position: fixed;
  z-index: 999;
  
}

header .container {
  --main-padding: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header .container .logo {
  font-size: 2rem;
  display: flex;
}

header .container .logo span {
  animation: logo-animation var(--logo-animation) infinite linear alternate;
}

header .container .logo span:nth-child(2) {
  animation-delay: calc(var(--logo-animation, 2s) / 2);
}

header .container .logo span:nth-child(3) {
  animation-delay: var(--logo-animation, 2s)
}

header .container .logo span:nth-child(4) {
  animation-delay: calc(var(--logo-animation, 2s) / 2 * 3)
}

header .container .links {
  display: flex;
  gap: 1rem;
  margin-right: .5rem;
}

header .container .links li a {
  color: var(--Soft-blue, #8bacda);
}

header .container .links li a:hover {
  color: var(--Cyan, #00fff7);

}


/* Section Landing */
.landing {
  position: relative;
  height: calc(100vh - 64px);
}
.landing .image {

}
.landing .image img {
  object-fit: cover;
}

/* Section Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  align-content: start;
  margin-top: 2rem;
  /* overflow-y: scroll;
  padding: 1rem;
  height: 800px; */
}

.projects li a {
  background-color: var(--card-BG, #14253d);
  border-radius: var(--main-radius, .25rem);
  text-align: center;
  transition: var(--main-transition);
  transition: var(--main-transition, .25s);
}

.projects li a:hover {
  transform: scale(1.1);
}

.projects li a img {
  width: 100%;
  border-top-left-radius: var(--main-radius, .25rem);
  border-top-right-radius: var(--main-radius, .25rem);
  display: block;
}

.projects li a p {
  color: var(--Soft-blue, #8bacda);
  font-weight: bold;
  padding: 1rem 0;
  transition: var(--main-transition, .25s);
}

.projects li:hover a p {
  color: var(--Cyan, #00fff7);
  font-weight: normal;
}

/* Section Stats */
.stats__stats {
  background-color: var(--card-BG, #0d192b);
}

.stats__stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.stat-card {
  padding: 1rem;
  background-color: var(--main-BG, #0d192b);
  text-align: center;
  color: var(--Soft-blue);
  position: relative;
  transition: .25s;
  
  border-radius: var(--main-radius, .25rem);
}
:is(.stat-card, .member-info):hover {
  transform: scale(1.05);
  color: var(--Cyan, #00fff7)
}

:is(.stat-card, .member-info)::before, 
:is(.stat-card, .member-info)::after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  background-color: var(--Cyan);
  
  transition: .5s;
}
:is(.stat-card, .member-info)::before {
  top: 0;
  left: 0;
}
:is(.stat-card, .member-info)::after {
  bottom: 0;
  right: 0;
}
.stat-card:hover::before,
.stat-card:hover::after  {
  height: 100%;
  width: 2px;
}

.stat-card h5 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: 1rem;
}

.stat-card i {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.stat-card p {
  font-size: 2rem;
  font-weight: bold;
}


/* Section Team */
.team-dash {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
.member-info {
  text-align: center;
  background-color: var(--card-BG, #14253d);
  border-radius: var(--main-radius, .25rem);
  padding: 2rem 1rem;
  color: var(--Soft-blue, #8bacda);
  transition: var(--main-transition, .25s);
  position: relative;
}

.member-info:hover::before,
.member-info:hover::after {
  width: 100%;
  height: 2px;
}
.member-info .image {
  position: relative;
  width: fit-content;
  margin: 0 auto;

}
.member-info .image img {
  border-radius: calc(var(--main-radius, .25rem) * 2);
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.member__name {
  font-size: 1.5rem;
  margin: .5rem 0;
}
.member__job {
  background-color: var(--main-BG, #0d192b);
  width: fit-content;
  padding: .25rem .5rem;
  border-radius: calc(var(--main-radius, .25rem) * 2);
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.member__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .25rem;
}

.member__stats  div p:first-of-type {
  font-weight: bold;
}

/* Section Contact Us */
.contact-us form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.contact-us form > div {
  position: relative;
}
.contact-us form > div label {
  position: absolute;
  padding: 0 .5rem;
  color: var(--Soft-blue, #8bacda);
  top: -1.5rem;
  left: 0;
}
.contact-us form > div :is(input, textarea) {
  width: 100%;
  padding: .5rem;
  outline: none;
  border: 0;
  border-radius: var(--main-radius, .25rem);
  background-color: var(--Soft-blue);
}

.contact-us form > div textarea {
  min-height: 250px;
  width: 100%;
  resize: none;
  line-height: 1.5;
  font-size: 1.15rem;
  display: block;
  color: var(--main-BG, #0d192b);
}

.contact-us form > div :is(input:focus, textarea:focus) + label {
  --Soft-blue: #00fff7;
}


.contact-us form > div::after,
.contact-us form > div::before {
  content: "";
  width: 1px;
  height: 0px;
  background-color: var(--Cyan, #00fff7);
  position: absolute;
  transition: 0s, 1s width;
}
.contact-us form > div::before {
  top: 0;
  left: calc(var(--main-radius, .25rem) + .1rem);
}
.contact-us form > div::after {
  bottom: 0;
  right: calc(var(--main-radius, .25rem) + .1rem);
}
.contact-us form > div:has(input:focus, textarea:focus)::before,
.contact-us form > div:has(input:focus, textarea:focus)::after {
  width: calc(100% - var(--main-radius) * 2);
  height: 1px;
}





/* Section Footer */
footer {
  background-color: var(--card-BG, #14253d);
}

footer .container {
  color: var(--Soft-blue, #8bacda);
  position: relative;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

footer .container a {
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  color: var(--Soft-blue, #8bacda);
}

footer .container a span {
  color: rgb(235, 235, 235);
  font-weight: bold;
}

footer .container a:hover span {
  text-decoration: underline;
}

/* Animations */

@keyframes logo-animation {
  50% {
    transform: translateY(-.5rem);
  }

}

@media (max-width: 767px) {
  .text {
    grid-template-columns: 1fr;
    gap: 0;
  }
}