@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
--shouldersFont: 'Big Shoulders Display', cursive;
--lexendFont: 'Lexend Deca', sans-serif;

font-family: var(--lexendFont, 'Lexend Deca', sans-serif);




--brightOrange: #e38826;
--darkCyan: #006970;
--veryDarkCyan: #004241;

--paragraphs: #ffffffbf;
--BGHB: #f2f2f2;

--mainMargin: 2rem;
}
html {
  font-size: 15px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--BGHB, #f2f2f2);
}

body main {
  width: 70%;

}
body .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body .cards .card {
  padding: 4rem;
  background-color: var(--brightOrange, #e38826);
  
  display: grid;
  grid-template-rows: 1fr auto;

}
body .cards .card:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
body .cards .card:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

body .cards .card:nth-child(2),
body .cards .card:nth-child(2) button {
  --brightOrange: var(--darkCyan, #006970);
} 
body .cards .card:last-child,
body .cards .card:last-child button {
  --brightOrange: var(--veryDarkCyan, #004241);
}

.card .text h2 {
  font-size: 3rem;
  font-family: var(--shouldersFont);
  color: var(--BGHB, #f2f2f2);
  text-transform: uppercase;
  
  margin: var(--mainMargin, 2rem) 0;
}

.card .text p {
  line-height: 1.6;
  margin-bottom: calc(var(--mainMargin, 2rem) * 2);
  color: var(--paragraphs, #ffffffbf)
}
.cards .card button {
  padding: 1rem 2rem;
  width: fit-content;
  border: none;
  color: var(--brightOrange, #e38826);
  font-weight: bold;
  border-radius: 1.5rem;
  cursor: pointer;
  border: .5px solid var(--BGHB, #f2f2f2);
}

.cards .card button:hover {
  background-color: transparent;
  color: var(--BGHB, #f2f2f2);
}

@media (max-width: 375px) {
  body {
    height: fit-content;
  }
  
  body main {
    width: 100%;
    padding: 2rem 1rem;
  }
  body .cards {
    grid-template-columns: 1fr;
  }
  body .cards .card {
    padding: 2rem;
  }
  

body .cards .card:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
}
body .cards .card:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
}