@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  margin: 0;
  
  --Soft-blue: #8bacda;
  --Cyan: #00fff7;
  --white: #ffffff;

  --main-BG: #0d192b;
  --card-BG: #14253d;
  --line: #2f415b;
}

body {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-BG, #0d192b);

}

a {
  text-decoration: none;
  color: var(--Soft-blue);
  font-weight: bold;
  font-size: 1.5rem;
  transition: .5s;
}
a:hover {
  font-size: 1.6rem;
}