@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  margin: 0;

  --Soft-blue: #8bacda;
  --Cyan: #00fff7;
  --white: #ffffff;
  --BrightBlueColor: #3829e0;

  --main-BG: #0d192b;
  --card-BG: #14253d;
  --line: #2f415b;
}

body {
  width: 100%;

  background-color: var(--main-BG, #0d192b);

  position: relative;

}

main {
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: start;
  gap: 1rem;
}

ul li {
  background-color: var(--card-BG, #14253d);
  position: relative;
  border-radius: .5rem;
}

ul li::before {
  content: "New";

  color: var(--Soft-blue);
  padding: .2rem .5rem;
  background-color: var(--card-BG);
  font-weight: bold;
  border-radius: .5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;

  animation-name: changeColor;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

ul li img {
  width: 100%;

  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

ul li:nth-child(4) a {
  animation-delay: .40s;
}

ul li:nth-child(3) a {
  animation-delay: calc(.40s * 2);
}

ul li:nth-child(2) a {
  animation-delay: calc(.40s * 3);
}

ul li:nth-child(1) a {
  animation-delay: calc(.40s * 4);
}

a {
  text-decoration: none;
  color: var(--Soft-blue);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  transition: .5s;
  padding: 1rem;
  display: block;

  animation-name: changeColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

a:hover {
  font-size: 1.4rem;
  color: #00fff7;
}

@media (max-width: 375px) {
  a {
    font-size: 1.25rem;
  }

  main {
    padding: 1rem
  }

  ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  ul li a {
    font-size: 1rem;
  }
  ul li a:hover {
    font-size: .8rem;
  }
}


@keyframes changeColor {
  to {
    color: var(--Cyan, #00fff7);
  }
}




footer {
  background-color: var(--card-BG, #14253d);

  padding: 1rem 2rem;

}

body .name {
  color: var(--Soft-blue, #8bacda);
  font-weight: bold;
  position: relative;
}

body footer .name a {
  /* mix-blend-mode: difference; */
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  padding: 0;
}