@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 11px;
}

body {
  background-color: #d6e1f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.iq {
  width: 30rem;
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.iq img {
  width: 100%;
  border-radius: 1rem;
}
.iq h2 {
  margin-top: 1rem;
  font-size: 2.4rem;
}

.iq p {
  margin: 1rem 0;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 375px) {
  .iq {
    width: 90%;
  }
}
